

img {
    height: 30px;
    width: 40px;
    margin: 70px;
    padding: 0px;
    
}

h5{
    position: relative;
    top: -95px;
    left: 150px;
}

p {
    position: relative;
    top: -160px;
    left: 220px;
    text-align: justify;
}

.tamaño {
    font-size: 18px;
    font-family: Arial;
    margin-left: 60px;
    margin-top: 45px;
}

#bloque1{
    height: 120px;
}



#bloque2{
    width: 400px;
    margin-left: 600px;
    margin-top: -420px;
    border-right: medium;
    border-style: groove;
    border-color: tomato;
}

h3, iframe{
    margin-left: 70px;
}
 