

img {
    height: 30px;
    width: 40px;
    margin: 50px;
    padding: 0px;
    
}

h3 {
    position: relative;
    top: -100px;
    left: 120px;
}

p {
    position: relative;
    top: -150px;
    left: 220px;
    text-align: justify;
}

.tamaño {
    height: 60px;
    width: 500px;
}

#bloque1{
    height: 120px;
}



#bloque2{
    width: 400px;
    position: relative;
    margin-left: 900px;
    margin-top: -580px;
    border-right: medium;
    border-style: groove;
    border-color: tomato;
}

h2{
    margin: 50px;
}


 