.cuadro1{
    margin-left: 140px;
    margin-top: 45px;
    width: 300px;
}
 
#tit1{
    margin-left: 75px;
    margin-top: 25px;
}

.cuadro2{
    margin-left: 600px;
    margin-top: -490px;
    padding: 10px;
    width: 600px;
    text-align: justify;
    border-style: 1px;
    border: groove #c1282d;
    border-radius: 25px;
}

#texto{
    margin-left: 75px;
    margin-top: -45px;
}

.tamaño{
    margin-left: 75px;
}

#tit3{
    margin-left: 75px;
}

iframe{
    margin-left: 155px;
}

